.userName {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  button {
    min-width: 20rem;
  }
}
