.header-white {
  ion-title {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  .material-symbols-outlined {
    cursor: pointer;
    color: white;
  }
}
