


.login-container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  h2 {
    display: flex;
    justify-content: center;
  }
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}
