
.training-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.training-card {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

.musculo-item {
  display: flex;         
  align-items: center;  
  gap: 0.75rem;           
}

.musculo-line {
  display: flex;       
  align-items: center;  
  gap: 0.75rem;        
}

.musculo-icon {
  font-size: 24px;      
  flex-shrink: 0;      
}

.musculo-nombre {
  flex-grow: 1;     
  margin-top: 0.2rem;     
}


.no-training {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  color: gray;
}
